@import 'mixin.scss';

header{
    h1{
        color: darkgreen;
        font-size: 65px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    nav{
       
        ul{
            list-style: none;
           
            li{
                display: inline-block;
                width: 19%;
                position: relative;
                text-align: center;
                @include medidas(16px,arial);
               
                text-decoration: none;
                a:hover{
                    background-color: rgb(182, 181, 181);
                    text-decoration: none;
                    color: black;
                }
                a{
                    color:black;
                    font-size: $font-size1;
                    margin: 8px; 
                    text-decoration: none;
                }
                div{
                  .prod{
                      background-color: white !important; 
                      color: black !important;
                      border: none !important;
                      font-family: Arial, Helvetica, sans-serif !important;
                      font-size: $font-size1 !important;
                  }
                }
                
            };
        }
    }
}


.fotos__inicio{
    .fotoP{
    margin: 30px;
    /*display: flex;
    justify-content: center; */
    @extend %disposicion;
        .carousel{
            width: 100%;
            height: 35%;
        }
    }
    .todas_fotos_home{
        div{
             @extend %disposicion-grid;
            grid-template-areas: "foto1 foto2 foto3"
                                 "t1 t2 t3";
             
             grid-column-gap: 10% ;
             .div__margin1 {
                    img{
                        grid-area: foto1;
                    }
                    a{
                        grid-area: t1;
                    }
             }
             .div__margin2 {
                    img{
                        grid-area: foto2;
                    }
                    a{
                        grid-area: t2;
                    }
            }
            .div__margin3{
                    img{
                        grid-area: foto3;
                    }
                    a{
                        grid-area: t3;
                    }
            }
             div{
                 .fotos__home{
                    width: 250px;
                    height: 250px;
                 }
                .container_f{
                    color:nth($colores,2);
                    font-size: 16px;
                    border: 3px solid nth($colores,2);
                    border-radius: 10px ;
                    padding: 8px; 
                    text-decoration: none;
                    text-align: center;
                    margin: 40px;
            }
        }
        img:hover{
            transform: scale(1.1);
            transition: all 2s;
        }
        a:hover{
            @extend %a-hover;
            }
      
    }
    
 }


 
 .text__home{
    font-size: $font-size2;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgreen;
}

}

.links {
color: darkslategrey;
font-size: $font-size1;
padding: 8px; 
text-decoration: none;
}


